
    <nav class="topnav">
        <a class="nav-link" href="/">Inicio</a>
        <a class="nav-link" href="/blog">Blog</a>
        <a class="nav-link" href="/contact">Contacto</a>
        <a class="signup" href="/login">Ingresar</a>
    </nav>
